<form ng-submit="postTask(task)">
    <div class="inputs">
        <h2>Post New Task</h2>
        <input type="text" ng-model="task.title" class="form-control" placeholder="Task Title" required /><br />
        <textarea ng-model="task.description" class="form-control" placeholder="Task Description" required /><br />
        <input type="text" ng-model="task.total" class="form-control" placeholder="Total Cost" required /><br />
        <input type="submit" value="Submit" class="btn btn-primary" />
    </div>
</form>